<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.amaderorg.myjobapp"
          android:versionCode="1"
          android:versionName="1.0">
    <uses-sdk android:minSdkVersion="21"/>
    <application android:label="@string/app_name"
        android:icon="@drawable/ic_launcher"
        android:theme="@style/application_theme">
        <activity android:name=".View.LaunchActivity"
                  android:label="@string/app_name"
                  android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".View.WorkflowSelection.WorkflowSelectionActivity"
                  android:label="Workflow Selection"
                  android:screenOrientation="portrait">

        </activity>
        <activity android:name=".View.Contacts.ManageContactsActivity"
                  android:label="Manage Contacts"
                  android:screenOrientation="portrait">

        </activity>
        <activity android:name=".View.MassEmail.MassEmailActivity"
                  android:label="Send Email"
                  android:screenOrientation="portrait">

        </activity>
        <activity android:name=".View.Templates.ManageTemplatesActivity"
                  android:label="Manage Templates"
                  android:screenOrientation="portrait">

        </activity>

        <provider
            android:authorities="com.amaderorg.myjobapp"
            android:name=".Model.Database.ApplicationContentProvider"
            android:exported="false"
            android:multiprocess="true">
        </provider>
    </application>
</manifest>
